.idea/
.gitlab/
htpasswd
kube-prometheus
rook
src
kustomize
flux2
base

terraform/.terraform
terraform/*.tfplan
terraform/*.backup
terraform/*.tfstate
terraform/helm-values
terraform/manifests
terraform/CoreCluster/helm-values
terraform/CoreCluster/manifests
terraform/ClusterInfra/helm-values
terraform/ClusterInfra/manifests
terraform/configs
